@import '../../scss/settings';

.DisplayWord {
	font-size: rem-calc(60);
	text-align: center;

	.letter {
		display: inline-block;
		margin: 0 rem-calc(3) 0 0;
	}
	.word {
		white-space: nowrap;
	}

	@include breakpoint(small down) {
		font-size: rem-calc(30);
	}
}
